<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{@model.displayName}}
      </h1>
    </div>
  </div>
</section>
<section style="height:100vh">
  <div class="columns" style="height:100vh">
    <div class="column is-two-thirds">
      <embed class="pdfobject" src={{safe-string @model.url}} type="application/pdf" style="overflow: auto; width: 100%; height: 100%;">
    </div>
    <div class="column is-one-third">
      {{#each notes as |note|}}
      <article class="message">
        <div class="message-body is-primary">
          {{note}}
        </div>
      </article>
      {{/each}}
      <Textarea  @value={{this.note}} style="resize:none;width:100%;" rows=10/>
      <button  {{on "click" this.addNote}} type="button" class="button is-primary" style="margin-top:10px;float:right;">Submit</button>
    </div>
  </div>
</section>
